Q-17. Write an SQL query to show the top n (say 10) records of a table.
ANS- SELECT TOP 10 * FROM Customers;

In [ ]:
Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
ANS- select * from(
select ename, sal, dense_rank() 
over(order by sal desc)r from Employee) 
where r=&n;

To find to the 2nd highest sal set n = 2
To find 3rd highest sal set n = 3 and so on.